# Ignora a pasta de dependências
node_modules/

# Ignora o executável do ChromeDriver (caso tenha baixado manualmente)
chromedriver.exe

# Arquivos temporários do sistema
Thumbs.db
.DS_Store

# Outros arquivos que não devem ser versionados
*.log
